<html>
<head>
  <h1>Distributed Compute Market</h1>
</head>
<body>
  <form action="{{ url_for('disconnect') }}" method=get>
    <dl>
      <dd><input type=submit value=Disconnect>
    </dl>
  </form>
  {% if status == 'available' %}
  <form action="{{ url_for('unavailable') }}" method=get>
    <dl>
      <dd><input type=submit value="Unavailable">
    </dl>
  </form>
  {% else %}
  <form action="{{ url_for('available') }}" method=get>
    <dl>
      <dd><input type=submit value="Available">
    </dl>
  </form>
  {% endif %}
  <form action="{{ url_for('addjob') }}" method=get>
    <dl>
      <dd><input type=submit value="Add Job">
    </dl>
  </form>
</body>

