<html>
<head>
  <h1>Distributed Compute Market</h1>
</head>
<body>
  <form action="{{ url_for('disconnect') }}" method=get>
    <dl>
      <dd><input type=submit value=Disconnect>
    </dl>
  </form>
  {% if status == 'available' %}
  <form action="{{ url_for('unavailable') }}" method=get>
    <dl>
      <dd><input type=submit value="Unavailable">
    </dl>
  </form>
  {% else %}
  <form action="{{ url_for('available') }}" method=get>
    <dl>
      <dd><input type=submit value="Available">
    </dl>
  </form>
  <form action="{{ url_for('addjob') }}" method=get>
    <table>
      <tr>
	<td>Input File</td>
	<td><input type="text" name="ipfile" /></td>
      </tr>
      <tr>
	<td>Output File</td>
	<td><input type="text" name="opfile" /></td>
      </tr>
      <tr>
	<td>Source File</td>
	<td><input type="text" name="srcfile" /></td>
      </tr>
      <tr>
	<td>Nodes</td>
	<td><input type="text" name="numnodes" /></td>
      </tr>
      <tr>
	<td><input type="radio" name="splitoption" value="Line"/> Line Splitting</td>
	<td><input type="radio" name="splitoption" value="Bytes" /> Byte Splitting</td>
      </tr>
      <tr>
	<td><input type="checkbox" name="merge" value="True"/></td>
	<td>Merge Results</td>
      </tr>
      <tr>
	<td><input type=submit value="Add Job"></td>
      </tr>
    </table>
  </form>
  {% endif %}
  
</body>

