<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-1.7.2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-alert.js') }}"></script>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
  </head>
  
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container" style="width: auto;">
	  <a class="brand" href="/">DCM</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/runjob">Current Jobs</a></li>
            <li><a href="/viewjob">View Jobs</a></li>
          </ul>
	  <ul class="nav pull-right">
            <li class="divider-vertical"></li>
            <li><a href="/"> {{ mode }}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
	<div class="span3">
	  <div class="hero-unit" style="border:2px solid black">
	    {% if mode == 'Disconnected' %}
	    <h3>DCM Network</h3>
	    <p>You are Disconnected!</p>
	    <a class="btn btn-success" href="/home?fn=connect"><i class="icon-ok icon-white"></i> Connect</a>
	    {% else %}
	    <h3>DCM Network</h3>
	    <p>You are Connected!</p>
	    <a class="btn btn-danger" href="/home?fn=disconnect"><i class="icon-remove icon-white"></i> Disconnect</a>
	    {% endif %}
	  </div>
	</div>
	<div class="span9">
	  {% if error and error.__len__() > 0 %}
          <div class="alert alert-error">
            <a class="close" data-dismiss="alert" href="/">&times;</a>
            <strong>Error!</strong> {{ error }}
          </div>
          {% endif %}
	  <table>
	    {% if mode == 'Provider' or mode == 'Connected' %}
	    <tr><td>
		<div class="hero-unit" style="border:2px solid black">
		  <h2>To run your own jobs, change to Consumer Mode.</h2>
		  <a class="btn btn-inverse" href="/home?fn=consumer"><i class="icon-ok icon-white"></i> Change to Consumer</a>
		</div>
	    </td></tr>
	    {% endif %}
	    {% if mode == 'Consumer' or mode == 'Connected' %}
	    <tr><td>
		<div class="hero-unit" style="border:2px solid black">
		  <h2>To allow remote nodes to run jobs, change to Provider Mode.</h2>
		  <a class="btn btn-inverse" href="/home?fn=provider"><i class="icon-ok icon-white"></i> Change to Provider</a>
		</div>
	    </td></tr>
	    {% endif %}
	  </table>
	</div>
      </div>
    </div>
  </body>
</html>
	      
