<!DOCTYPE html>
<html lang="en">
  <head>
    {% if mode == 'Provider' %}
    <meta http-equiv="refresh" content="{{ '5;url=' + url_for('runjob') }}" />
    {% endif %}
    {% if mode == 'Consumer' and runningJob and runningJob == True %}
    <meta http-equiv="refresh" content="{{ '5;url=' + url_for('runjob') }}" />
    {% endif %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-1.7.2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-alert.js') }}"></script>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
  </head>
  
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container" style="width: auto;">
	  <a class="brand" href="/">DCM</a>
          <ul class="nav">
            <li><a href="/home">Home</a></li>
            <li class="active"><a href="#">Job Monitor</a></li>
            <li><a href="/viewjob">Accounts</a></li>
	    <li><a href="/viewnw">Network Monitor</a></li>
          </ul>
	  <ul class="nav pull-right">
            <li class="divider-vertical"></li>
            <li><a href="/"> {{ mode }}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
	<div class="span4">
	  <div class="hero-unit" style="border:2px solid black">
	    <form action="{{ url_for('addjob') }}" method=post>
	      <table cellspacing="5">
		<tr>
		  <td>Input File</td>
		  <td><input type="text" name="ipfile" /></td>
		</tr>
		<tr>
		  <td>Output Dir</td>
		  <td><input type="text" name="opfile" /></td>
		</tr>
		<tr>
		  <td>Source File</td>
		  <td><input type="text" name="srcfile" /></td>
		</tr>
		<tr>
		  <td>Nodes</td>
		  <td><input type="text" name="numnodes" /></td>
		</tr>
		<tr>
		  <td>Timeout</td>
		  <td><input type="text" name="timeout" /></td>
		</tr>
		<tr>
		  <td colspan="2"><input type="radio" name="splitoption" value="Line"/> Line Splitting
		  <input type="radio" name="splitoption" value="Bytes" /> Byte Splitting</td>
		</tr>
		<tr>
		  <td colspan="2"><input type="checkbox" name="merge" value="True"/> Merge Results</td>
		</tr>
		<tr>
		  <td></td>
                  <td align="right">
                    <button class="btn btn-inverse" type="submit"><i class="icon-play icon-white"></i> Run Job</button>
                  </td>
		</tr>
	      </table>
	    </form>
	  </div>
	</div>
	<div class="span8">
	  {% if error and error.__len__() > 0 %}
          <div class="alert alert-error">
            <a class="close" data-dismiss="alert" href="/runjob">&times;</a>
            <strong>Error!</strong> {{ error }}
          </div>
          {% endif %}
	  
	  {% if mode == 'Consumer' and curJob != None %}
	  <table class="table table-bordered">
	    <thead>
	    <tr>
	      <th><strong>Job Attribute</strong></th>
	      <th><strong>Value</strong></th>
	    </tr>
	    </thead>
	    <tbody>
	    <tr>
	      <td><strong>Input File</strong></td>
	      <td>{{ curJob.ipFile }}</td>
	    </tr>
	    <tr>
	      <td><strong>Output File</strong></td>
	      <td>{{ curJob.opFile }}</td>
	    </tr>
	    <tr>
	      <td><strong>Source File</strong></td>
	      <td>{{ curJob.srcFile }}</td>
	    </tr>
	    <tr>
	      <td><strong>Nodes</strong></td>
	      <td>{{ curJob.numNodes }}</td>
	    </tr>
	    <tr>
	      <td><strong>Timeout</strong></td>
	      <td>{{ curJob.timeout }}</td>
	    </tr>
	    </tbody>
	  </table>
	  {% endif %}
	  {% if jobCost and jobCost.__len__() > 0 %}
	  {% if mode == 'Provider' %}
          <div class="alert alert-success">
            <a class="close" data-dismiss="alert" href="/runjob">&times;</a>
            <strong>Congratulations!</strong> The last job execution earned you ${{ jobCost }}!
          </div>
	  {% else %}
	  <div class="alert alert-warning">
            <a class="close" data-dismiss="alert" href="/runjob">&times;</a>
            <strong>Congratulations!</strong> The last job was completed and costed you ${{ jobCost }}!
          </div>
	  {% endif %}
	  {% endif %}
	  <h3>Current Job Status</h3>
	  {% if percentage != '0' and percentage.__len__() > 0 %}
	  <div class="progress progress-striped active">
	    <div class="bar" style="width: {{ percentage }}%"></div>
	  </div>
	  {% endif %}
	  <table class="table" align="center" cellpadding="5">
	    <tbody>
	     {% if statusInfo %}
	     {% for i in range(0, statusInfo.__len__() - 1) %}
	     <tr><td>
		 <p>{{ statusInfo[i] }}</p>
	     </td></tr>
	     {% endfor %}
	     {% if statusInfo.__len__() > 0 %}
	     <tr><td style="border:2px solid black">
		 <p>{{ statusInfo[statusInfo.__len__() - 1] }}</p>
	     </td></tr>
	     {% endif %}
	     {% endif %}
	    </tbody>
	  </table>
	</div>
      </div>
    </div>
  </body>
</html>
	      
