<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="refresh" content="{{ '3;url=' + url_for('viewnw') }}" />
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-1.7.2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-alert.js') }}"></script>
    <script src="{{ url_for('static', filename='js/flot/jquery.flot.js') }}"></script>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
  </head>
  
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container" style="width: auto;">
	  <a class="brand" href="/">DCM</a>
          <ul class="nav">
            <li><a href="/home">Home</a></li>
            <li><a href="/runjob">Job Monitor</a></li>
            <li><a href="/viewjob">Accounts</a></li>
	    <li class="active"><a href="#">Network Monitor</a></li>
          </ul>
	  <ul class="nav pull-right">
            <li class="divider-vertical"></li>
            <li><a href="/"> {{ mode }}</a></li>
	  </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
	<div class="span6">
	  {% if error and error.__len__() > 0 %}
          <div class="alert alert-error">
            <a class="close" data-dismiss="alert" href="/viewjob">&times;</a>
            <strong>Error!</strong> {{ error }}
          </div>
	  {% endif %}
	  <div class="well" style="border:2px solid black">
	    <table class="table table-bordered" style="width:100%;height:100%">
	      <thead>
		<tr><th align="center">Updates</th></tr>
	      </thead>
	      <tbody>
		{% for update in updates %}
		<tr><td align="center">{{ update }}</td></tr>
		{% endfor %}
	      </tbody>
	    </table>
	  </div>
	</div>
	<div class="span3">
	  <div class="well" style="border:2px solid black">
	    <table class="table table-bordered" style="width:100%;height:100%">
	      <thead>
		<tr><th align="center">Available Nodes</th></tr>
	      </thead>
	      <tbody>
		{% for node in availableInfo %}
		<tr><td align="center">{{ node }}</td></tr>
		{% endfor %}
	      </tbody>
	    </table>
	  </div>
	</div>
	<div class="span3">
	  <div class="well" style="border:2px solid black">
	    <table class="table table-bordered" style="width:100%;height:100%">
	      <thead>
		<tr><th align="center">Neighbor Nodes</th></tr>
	      </thead>
	      <tbody>
		{% for node in neighborInfo %}
		<tr><td align="center">{{ node }}</td></tr>
		{% endfor %}
	      </tbody>
	    </table>
	  </div>
	</div>
      </div>
    </div>
  </body>
</html>
	      
